export("shape", "plotshape", "getedf0", "shapeparams", "f2a.map.jpeg", "f2a.raster", "f2p.raster", "flat2annual", "flat2parameter")
import("coneproj", "raster", "rgdal")
importFrom("grDevices", "colors", "dev.off", "jpeg")
importFrom("graphics", "abline", "legend", "mtext", "par", "plot", "points", "title")
importFrom("stats", "coef", "lm", "median", "rnorm")
importFrom("utils", "data")
